doctype transitional
html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title= subject
    body
      h1.h1 Estimado usuario,
      p 
        |Desde uoPisos queremos informarle de que un posible comprador ha querido ponerse en contacto con usted
        br
        |A continuacion le dejamos los datos y el mensaje por si usted estuviese interesado
      h2.h2 De #{nombreEmisor} (#{emailEmisor}) :
      p " #{message} "
      p Un saludo 
      br
      |uoPisos